@import url(https://fonts.googleapis.com/css?family=Raleway:700);
*, *:before, *:after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    background-color: #333;
}

body {
    background-size: cover;
    font-family: "Raleway", sans-serif;
    color: #fff;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
    height: 100%;
}

.text-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 6em;
    font-weight: 700;
    color: #EE4B5E;
}

.subtitle {
    font-size: 40px;
    font-weight: 700;
    color: #ffffff;
}

.buttons {
    margin: 30px;
}
.buttons a.button {
    font-weight: 700;
    border: 2px solid #EE4B5E;
    text-decoration: none;
    padding: 15px;
    text-transform: uppercase;
    color: #EE4B5E;
    border-radius: 26px;
    transition: all 0.2s ease-in-out;
}
.buttons a.button:hover {
    background-color: #EE4B5E;
    color: white;
    transition: all 0.2s ease-in-out;
}
